

.whiteSquare {
  background-color: white;
  border:blueviolet 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blackSquare {
  background-color: black;
  border: lightslategrey 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 5vw);
  grid-template-rows: repeat(20, 5vh);
}

p {
  display: flex;
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 6vh;
}


@media only screen and (max-width: 740px) {

p {
  font-size: 3vh;
}

}