

.whiteSquare {
  background-color: white;
}

.blackSquare {
  background-color: black;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 5vw);
  grid-template-rows: repeat(20, 5vh);
}

p {
  color: black;
}